* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px 20px 20px 20px;
    cursor: pointer;
    overflow-x: hidden;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header > ul {
    display: flex;
    gap: 60px;
}

.right-header > ul > li {
    font-size: 18px;
}

.wrapper {
    max-width: 1270px;
    margin: 0 auto;
}

.main > h4 {
    font-size: 18px;
    margin: 50px 0 50px 0;
    font-weight: 400;
}

.movie > button {
    padding: 6px 25px 5px 10px;
    display: flex;
    align-items: center;
    background-color: #181A22;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.movie > button > i {
    font-size: 30px;
}

.movie {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie > input {
    padding: 15px 70px 10px 10px;
    background-color: #181A22;
    border: none;
    color: white;
}

.movie > input::placeholder {
    font-size: 16px;
    color: white;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 50px;
}

.card {
    position: relative;
    max-width: 200px;
    padding: 15px;
    color: white;
    overflow: hidden;
    height: 300px;
    border-radius: 4px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.301);
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0.721), rgba(255, 0, 0, 0));
    border-radius: 10px;
    display: flex;  
    flex-direction: column;
    gap: 10px;
}

.card:hover img {
    transform: scale(1.1);
}

.card h5 {
    margin-top: 120px;
    font-size: 20px;
    display: block;
    max-width: 100%;
    font-weight: 700;
}

.card > img {
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    right: 0;
    transition: 1s;
    object-fit: cover;
    top: 0;
    z-index: -1;
    scale: 1.1;
    bottom: 0;
}

.card  button {
    position: relative;
    width: 140px;
    padding: 10px 17px 10px 14px;
    font-size: 16px;
    background-color: red;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

.card > button > i {
    font-size: 25px;
}